{
  "plugins": [
    "react-require",
    "@babel/plugin-syntax-object-rest-spread",
    "@babel/plugin-transform-modules-commonjs"
  ],
  "presets": [
    "@babel/preset-react"
  ],
  "sourceMaps": true,
  "env": {
    "test": {
      "retainLines": true
    },
    "build": {
      "plugins": [
        [
          "transform-rename-import",
          {
            "original": "^((../)+)src",
            "replacement": "$1build"
          }
        ]
      ],
      "ignore": [
        "build/**/*.js"
      ]
    }
  }
}
